body {
    padding: 5px;
    font-family: "Verdana", serif;
}

h1 {
  color: #D1D0CE;
  font-size: 26px;
}

h2 {
  color: #D1D0CE;
  font-size: 18px;
}

p.main {
  color: #D1D0CE;
  font-size: 14px;
}

.map {
    position: fixed;
    right: 0px;
    left: 0px;
    height: 70%;
    top: 0;
}

.shape {
  font-size: 14px;
  color: '#FFFFFF'
}

.sidebar {
    position: fixed;
    left: 70%;
    z-index: 100;
    width: 275px;
    top: 0;
    bottom: 35%;
    overflow-y: scroll;
    padding: 20px;
    background-color: #113B3B;
    color: #D1D0CE;
    border-radius: 3px;
}

.street-selected path {
  -webkit-animation: active 5s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes active {
    0% {opacity: 1;}
    50% {opacity: 1; stroke-width: 10;}
    100% {opacity: 1;}
}

.bottombar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    height: 27%;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-y: scroll;
    padding: 20px;
    font-size: 16px;
    background-color: #081C1C;
    color: #D1D0CE;
}

.button-previous {
    position: fixed;
    z-index: 100;
    bottom: 50px;
    left: 75px;;
    background-color: #113B3B;
    border: none;
    color: #D1D0CE;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}


.button-next-1 {
    position: fixed;
    z-index: 100;
    bottom: 50px;
    left: 225px;
    width:120px;
    background-color: #113B3B;
    border: none;
    color: #D1D0CE;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}

.button-next-rest {
    position: fixed;
    z-index: 100;
    bottom: 50px;
    left: 20%;
    width: 120px;
    padding: 10px;
    background-color: #113B3B;
    border: none;
    color: #D1D0CE;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}

.legend {
  position: absolute;
  background-color: #081C1C;
  background-opacity: 75%;
  color: #D1D0CE;
  z-index: 2000;
  left: 31%;
  width: 150px;
  top: 125px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.legendTable{
  border-spacing: 10px;
  margin: 10px;
  border-collapse: inherit;
}
.legendBlock{
  width: 20px;
  height: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#D1{
  background-color: #708A92;
}

#D2{
  background-color: #604D42;
}
#D3{
  background-color: #939691;
}
#D4{
  background-color: #898C7D;
}
#D5{
  background-color: #9C5940;
}
#D6{
  background-color: #505046;
}
#D7{
  background-color: #97877A;
}
#D8{
  background-color: #354651;
}
#D9{
  background-color: #774337;
}
#D10{
  background-color: #918A70;
}
#D11{
  background-color: #7A503B;
}

#close {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  left: 225px;
  width: 140px;
  padding: 10px;
  background-color: #113B3B;
  border: none;
  color: #D1D0CE;
  text-align: center;
  font-size: 18px;
  border-radius: 3px;
}
